{"AH2":"C:\\program files\\AutoHotkey\\v2\\autohotkey.exe"
,"AHK2EXE_Exec":"C:\\program files\\AutoHotkey\\v2\\autohotkey64.exe"
,"AHK_Exec":"C:\\program files\\AutoHotkey\\AutoHotkey.exe"
,"Align_Code_HK":"!q"
,"Compile_HK":"^F9"
,"Debug_HK":"+F9"
,"Find_HK":"F2"
,"Git_Exec":""
,"Git_Title":""
,"Icons":{"File":{"AHK":{"Exists":{"File":"C:\\LokaleDaten\\Apps\\AutoHotkey\\AutoHotkey.exe"
,"Icon":2
,"ID":0}
,"NoExist":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":78
,"ID":3}}
,"BIN":{"Exists":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":73
,"ID":4}
,"NoExist":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":78
,"ID":5}}
,"Main":{"Exists":{"File":"C:\\LokaleDaten\\Apps\\AutoHotkey\\AutoHotkey.exe"
,"Icon":1
,"ID":0}
,"NoExist":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":78
,"ID":6}}
,"Rest":{"Exists":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":71
,"ID":7}
,"NoExist":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":78
,"ID":8}}}
,"Folder":{"Exists":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":4
,"ID":1}
,"NoExist":{"File":"C:\\Windows\\System32\\shell32.dll"
,"Icon":67
,"ID":2}}}
,"Kill_HK":"+Escape"
,"Last_Gui_Position":[1186
,171
,623
,841]
,"List_HK":"+F2"
,"MenuCoord":"X48 Y230"
,"Npp_Exec":"C:\\Program Files\\Sublime Text\\sublime_text.exe"
,"Npp_Title":" - Sublime text"
,"RecentProjects":{}
,"Run_Current_HK":"+F9"
,"Run_HK":"F9"
,"ShowToolTips":"#1"
,"v2":"C:\\program files\\AutoHotkey\\v2\\autohotkey.exe"}