@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ContactWebModels.Supply
@{
  ViewBag.Title = "Random";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>
